In [1]:
import pandas as pd
import numpy as np
#read the csv file
df1 = pd.read_csv('Act-Comedy_df.csv')
df2 =pd.read_csv('Biography_df.csv')
df3 =pd.read_csv('crime-History_df.csv')
df4 =pd.read_csv('sport-Thriller.df.csv')

#combine all data frame into a single data frame
combined_df = pd.concat([df1,df2,df3,df4], ignore_index=True)

In [2]:
print(combined_df)

      Unnamed: 0                                              Title  Rating  \
0              0                              1. The Electric State     5.9
1              1                                       2. Novocaine     6.8
2              2                            5. Sonic the Hedgehog 3     6.9
3              3           6. The Ministry of Ungentlemanly Warfare     6.8
4              4                            7. Deadpool & Wolverine     7.6
...          ...                                                ...     ...
3948          87                           95. Across the Continent     5.5
3949          88                               96. The Jersey Devil     5.6
3950          89                            97. The Radio Detective     6.1
3951          90                                         100. Hogan     7.5
3952          91  106. Aftermass: Bicycling in a Post-Critical M...     9.2

     votings Duration voting_counts
0       (49)    2h 5m         (45K)
1       (49)   1h 50m         (11K)
2       (49)   1h 50m         (54K)
3       (49)    2h 2m        (133K)
4       (49)    2h 8m        (483K)
...      ...      ...           ...
3948     (7)       1h          (25)
3949     (7)   1h 43m          (27)
3950     (7)   3h 18m          (28)
3951     (7)   1h 48m          (16)
3952     (7)   1h 15m           (7)

[3953 rows x 6 columns]

In [3]:
combined_df.to_csv('combined_df',index=False)
print("All files have been merged and saved as'combined_movies.csv")

All files have been merged and saved as'combined_movies.csv

In [4]:
df=pd.read_csv('combined_movies.csv')

In [5]:
df

,Unnamed: 0,Title,Rating,votings,Duration,voting_counts
0,0,1. The Electric State,5.9,(49),2h 5m,(45K)
1,1,2. Novocaine,6.8,(49),1h 50m,(11K)
2,2,5. Sonic the Hedgehog 3,6.9,(49),1h 50m,(54K)
3,3,6. The Ministry of Ungentlemanly Warfare,6.8,(49),2h 2m,(133K)
4,4,7. Deadpool & Wolverine,7.6,(49),2h 8m,(483K)
...,...,...,...,...,...,...
3948,87,95. Across the Continent,5.5,(7),1h,(25)
3949,88,96. The Jersey Devil,5.6,(7),1h 43m,(27)
3950,89,97. The Radio Detective,6.1,(7),3h 18m,(28)
3951,90,100. Hogan,7.5,(7),1h 48m,(16)
3952,91,106. Aftermass: Bicycling in a Post-Critical M...,9.2,(7),1h 15m,(7)

In [6]:
df.isnull().sum()

Unnamed: 0       0
Title            0
Rating           0
votings          0
Duration         0
voting_counts    0
dtype: int64

In [7]:
df['Title'].unique()

array(['1. The Electric State', '2. Novocaine', '5. Sonic the Hedgehog 3',
       ..., '97. The Radio Detective', '100. Hogan',
       '106. Aftermass: Bicycling in a Post-Critical Mass Portland'],
      dtype=object)

In [8]:
df.head

<bound method NDFrame.head of       Unnamed: 0                                              Title  Rating  \
0              0                              1. The Electric State     5.9
1              1                                       2. Novocaine     6.8
2              2                            5. Sonic the Hedgehog 3     6.9
3              3           6. The Ministry of Ungentlemanly Warfare     6.8
4              4                            7. Deadpool & Wolverine     7.6
...          ...                                                ...     ...
3948          87                           95. Across the Continent     5.5
3949          88                               96. The Jersey Devil     5.6
3950          89                            97. The Radio Detective     6.1
3951          90                                         100. Hogan     7.5
3952          91  106. Aftermass: Bicycling in a Post-Critical M...     9.2

     votings Duration voting_counts
0       (49)    2h 5m         (45K)
1       (49)   1h 50m         (11K)
2       (49)   1h 50m         (54K)
3       (49)    2h 2m        (133K)
4       (49)    2h 8m        (483K)
...      ...      ...           ...
3948     (7)       1h          (25)
3949     (7)   1h 43m          (27)
3950     (7)   3h 18m          (28)
3951     (7)   1h 48m          (16)
3952     (7)   1h 15m           (7)

[3953 rows x 6 columns]>

In [9]:
df.shape

(3953, 6)

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df['Title'].unique()

array(['1. The Electric State', '2. Novocaine', '5. Sonic the Hedgehog 3',
       ..., '97. The Radio Detective', '100. Hogan',
       '106. Aftermass: Bicycling in a Post-Critical Mass Portland'],
      dtype=object)

In [12]:
df.sort_values(by=['Duration','voting_counts'])

,Unnamed: 0,Title,Rating,votings,Duration,voting_counts
3743,332,365. Operation Victoria: The Fall of Shining Path,7.4,(13),1h,(14)
3777,366,411. Miami Noir: The Arthur E. Teele Story,7.5,(13),1h,(16)
3585,174,182. Danny Greene: The Rise and Fall of the Ir...,6.6,(13),1h,(189)
1476,1476,"1574. Ranma Â½: The Movie 2, Nihao My Concubine",7.2,(49),1h,(1K)
1312,1312,1401. Sailor Moon S: The Movie - Hearts in Ice,7.6,(49),1h,(2.4K)
...,...,...,...,...,...,...
1878,1878,2011. The Speed Track,5.8,(49),PG-13,(392)
3902,41,42. The Speed Track,5.8,(7),PG-13,(392)
2714,2714,2925. Aztec Warrior,6.1,(49),PG-13,(64)
3267,258,294. Broken Chains,8.3,(16),R,(18)
1974,1974,2116. Rogue One,7.8,(49),TV-14,(17)

In [13]:
# set the index value as 'Unnamed: 0' column

df1 = df.set_index('Unnamed: 0')
df1

,Title,Rating,votings,Duration,voting_counts
Unnamed: 0,,,,,
0,1. The Electric State,5.9,(49),2h 5m,(45K)
1,2. Novocaine,6.8,(49),1h 50m,(11K)
2,5. Sonic the Hedgehog 3,6.9,(49),1h 50m,(54K)
3,6. The Ministry of Ungentlemanly Warfare,6.8,(49),2h 2m,(133K)
4,7. Deadpool & Wolverine,7.6,(49),2h 8m,(483K)
...,...,...,...,...,...
87,95. Across the Continent,5.5,(7),1h,(25)
88,96. The Jersey Devil,5.6,(7),1h 43m,(27)
89,97. The Radio Detective,6.1,(7),3h 18m,(28)
90,100. Hogan,7.5,(7),1h 48m,(16)
91,106. Aftermass: Bicycling in a Post-Critical M...,9.2,(7),1h 15m,(7)

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3953 entries, 0 to 91
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          3953 non-null   object
 1   Rating         3953 non-null   float64
 2   votings        3953 non-null   object
 3   Duration       3953 non-null   object
 4   voting_counts  3953 non-null   object
dtypes: float64(1), object(4)
memory usage: 185.3+ KB

In [15]:
# clean 'votings' column
df1['votings'] = df1['votings'].str.extract(r'(\d+)').astype(float).astype(int)

In [16]:
df1

,Title,Rating,votings,Duration,voting_counts
Unnamed: 0,,,,,
0,1. The Electric State,5.9,49,2h 5m,(45K)
1,2. Novocaine,6.8,49,1h 50m,(11K)
2,5. Sonic the Hedgehog 3,6.9,49,1h 50m,(54K)
3,6. The Ministry of Ungentlemanly Warfare,6.8,49,2h 2m,(133K)
4,7. Deadpool & Wolverine,7.6,49,2h 8m,(483K)
...,...,...,...,...,...
87,95. Across the Continent,5.5,7,1h,(25)
88,96. The Jersey Devil,5.6,7,1h 43m,(27)
89,97. The Radio Detective,6.1,7,3h 18m,(28)
90,100. Hogan,7.5,7,1h 48m,(16)
91,106. Aftermass: Bicycling in a Post-Critical M...,9.2,7,1h 15m,(7)

In [17]:
# Function to convert voting_counts safely
import re
def convert_votes(value):
    if pd.isna(value) or value.strip()== "": # handle NaN or empty values
        return 0
        
    value = re.sub(r"[^\dKM.]","",value)  #remove brackets

    if 'K' in value:
        return float(value.replace('K','').strip())*1000
    elif 'M' in value:
        return float(value.replace('M','').strip())*1000000
    else:
        try:
            return float(value.strip())
        except ValueError:
            return 0 # return 0 if conversion fails
        
df1["voting_counts"]= df1["voting_counts"].astype(str).apply(convert_votes)
df1

,Title,Rating,votings,Duration,voting_counts
Unnamed: 0,,,,,
0,1. The Electric State,5.9,49,2h 5m,45000.0
1,2. Novocaine,6.8,49,1h 50m,11000.0
2,5. Sonic the Hedgehog 3,6.9,49,1h 50m,54000.0
3,6. The Ministry of Ungentlemanly Warfare,6.8,49,2h 2m,133000.0
4,7. Deadpool & Wolverine,7.6,49,2h 8m,483000.0
...,...,...,...,...,...
87,95. Across the Continent,5.5,7,1h,25.0
88,96. The Jersey Devil,5.6,7,1h 43m,27.0
89,97. The Radio Detective,6.1,7,3h 18m,28.0
90,100. Hogan,7.5,7,1h 48m,16.0
91,106. Aftermass: Bicycling in a Post-Critical M...,9.2,7,1h 15m,7.0

In [18]:
# Display cleaned data types
print(df1.dtypes)
print(df1.head())

Title             object
Rating           float64
votings            int32
Duration          object
voting_counts    float64
dtype: object
                                               Title  Rating  votings  \
Unnamed: 0
0                              1. The Electric State     5.9       49
1                                       2. Novocaine     6.8       49
2                            5. Sonic the Hedgehog 3     6.9       49
3           6. The Ministry of Ungentlemanly Warfare     6.8       49
4                            7. Deadpool & Wolverine     7.6       49

           Duration  voting_counts
Unnamed: 0
0             2h 5m        45000.0
1            1h 50m        11000.0
2            1h 50m        54000.0
3             2h 2m       133000.0
4             2h 8m       483000.0

In [19]:
df1.to_csv('combined_df',index=False)
print("All files have been merged and saved as'New_combined_movies.csv")

All files have been merged and saved as'New_combined_movies.csv

In [20]:
import numpy as np
rating_sort = df1.sort_values(by='Rating',ascending=False)
df1

,Title,Rating,votings,Duration,voting_counts
Unnamed: 0,,,,,
0,1. The Electric State,5.9,49,2h 5m,45000.0
1,2. Novocaine,6.8,49,1h 50m,11000.0
2,5. Sonic the Hedgehog 3,6.9,49,1h 50m,54000.0
3,6. The Ministry of Ungentlemanly Warfare,6.8,49,2h 2m,133000.0
4,7. Deadpool & Wolverine,7.6,49,2h 8m,483000.0
...,...,...,...,...,...
87,95. Across the Continent,5.5,7,1h,25.0
88,96. The Jersey Devil,5.6,7,1h 43m,27.0
89,97. The Radio Detective,6.1,7,3h 18m,28.0
90,100. Hogan,7.5,7,1h 48m,16.0
91,106. Aftermass: Bicycling in a Post-Critical M...,9.2,7,1h 15m,7.0

In [21]:
df1.to_csv('IMDb_movies.csv',index=False)
print("All files have been merged and saved as'IMDb_movies.csv' ")

All files have been merged and saved as'IMDb_movies.csv'

In [22]:
import sqlite3

In [23]:
# connecct to SQLite database (creates one if not exists)
conn = sqlite3.connect("movies.db")

# store DataFrame in SQL database
df1.to_sql("movies",conn,if_exists = "replace", index=False)

3953

In [24]:
# Close connection
conn.close()

In [25]:
# To check the data was correctly stored and run

conn = sqlite3.connect("movies.db")
df1_sql= pd.read_sql("SELECT * FROM movies", conn)

conn.close()

print(df1_sql.head())

                                      Title  Rating  votings Duration  \
0                     1. The Electric State     5.9       49    2h 5m
1                              2. Novocaine     6.8       49   1h 50m
2                   5. Sonic the Hedgehog 3     6.9       49   1h 50m
3  6. The Ministry of Ungentlemanly Warfare     6.8       49    2h 2m
4                   7. Deadpool & Wolverine     7.6       49    2h 8m

   voting_counts
0        45000.0
1        11000.0
2        54000.0
3       133000.0
4       483000.0

In [40]:
import mysql.connector
from sqlalchemy import create_engine

# load the combined dataset
#df_sorted = pd.read_csv("IMDb_movies.csv") 

# MySQL connection details

#conn = mysql.connector.connect(
         host = 'localhost',
         user = 'root',
         password = 'root',
         database = 'b10'
)

# create a cursor object

#cursor = conn.cursor()

#Create table

#create_table_query = """
                     #   CREATE TABLE IF NOT EXISTS sorted_movies
                        (
                            Title VARCHAR(255),
                            Rating FLOAT,
                            Votes INT,
                            Duration VARCHAR(50),
                            Voting_Countss INT
                            );
                            """
#cursor.execute(create_table_query)
#conn.commit()

#print("Table created successfully")

IndentationError: unexpected indent (1775138446.py, line 10)

In [32]:
# use SQLAlchemy to insert the sorted DataFrame into MySQL

#Create an SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://root:root@localhost/")

# Store DataFrame in MySQL

#df_sorted.to_sql(name="sorted_movies",con=engine, if_exists="replace",index=False)
print("Sorted data inserted into MySQL successfully")

Sorted data inserted into MySQL successfully

In [ ]:
query= "SELECT * FROM sorted_movies LIMIT 3956;"
df_sql = pd.read_sql(query, engine)
print(df_sql)

In [ ]:
df_sql = df_sql.drop(columns=['Unnamed: 0'])
print(df_sql)

In [ ]:
max_rating = df_sql['Rating'].max()
max_votings = df_sql['votings'].max()
max_voting_counts = df_sql['voting_counts'].max()

#Extract the movie with the maximum duration